@import '@/assets/css/components/twitter-card.scss';

.profile {
  &__permissions {
    &--data {
      @apply my-2 p-4 bg-purple-300 rounded-lg;
      @apply text-lg p-4 text-white font-bold;
    }
  }
}
